<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laishidua"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".view.GhostMySelfieListActivity"
            android:label="@string/app_title" >
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name=".view.GhostMySelfieDetailActivity"
            android:label="@string/app_title" >
        </activity>
        
        <activity
            android:name="com.laishidua.view.LoginActivity"
            android:label="@string/app_title" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  -->
        </activity>
        
        <activity
            android:name="com.laishidua.view.LoginScreenActivity"
            android:label="@string/app_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:name=".model.GhostMySelfieProvider"
            android:authorities="com.laishidua.ghostmyselfieprovider"
            android:exported="false" >
        </provider>

        <service android:name=".model.services.GhostMySelfieService"/>
        
        <receiver android:name=".utils.AlarmNotificationReceiver" >
        </receiver>        

    </application>

</manifest>
